@charset "UTF-8";
#main section {
  position: relative;
}

.con__box {
  padding: 9rem 0;
}
.con__box:nth-child(odd) {
  background-color: #ecf1f5
}
.con__box:nth-child(odd) .con__text {
  margin-left: 5rem;
}
.con__box:nth-child(even) .layout {
}
.con__box .layout {
  display: flex;
  align-items: center;
}
.con__title {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}
.con__title--sm {
  display: block;
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  color: #005EAD;
  line-height: 1.1666666667;
}

.con__img {
  flex-shrink: 0;
  width: 40%;
}
.con__text {
  height: 100%;
  flex-grow: 1;
}
.con__desc {
  font-size: 2rem;
  color: #333;
  letter-spacing: -0.05em;
  line-height: 1.7;
}

@media (max-width: 1024px) {
  .con__img {
    width: 46%;
  }
  .con__box:nth-child(odd) .con__text {
    margin-left: 3rem;
  }
}
@media (max-width: 768px) {
  .con__box {
    padding: 4rem 0 8rem;
  }
  .con__box .layout {
    flex-direction: column !important;
  }
  .con__img {
    width: 50%;
    height: 50rem;
    text-align: center;
  }
  .con__img img {
    width: 50%;
    height: 100%;
    object-fit: contain;
  }
  .con__text {
    margin-left: 0 !important;
  }
}
@media (max-width: 460px) {
  .con__box .mo-none {
    display: none;
  }
}
sup.point {
  margin-left: 1px;
  color: #005EAD;
  vertical-align: 4px;
}

.annotation {
  display: flex;
  font-size: 1.4rem;
  color: #555;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 1.4285714286;
}
.annotation__word {
  flex-shrink: 0;
  padding-right: 1rem;
}
.annotation__desc {
  position: relative;
  padding-left: 1rem;
}
.annotation__desc::before {
  width: 1px;
  height: 90%;
  background-color: #f3f5f7;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-style {
  display: inline-block;
  min-width: 10rem;
  padding: 1rem;
  margin-left: 12rem;
  border-radius: 0.4rem;
  background-color: #0082AA;
  font-size: 1.6rem;
  font-weight: 700;
   
  line-height: 2rem;
}

#sec01 {
  min-height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden;
  background-color: #005EAD; /* Background color for the slider */
  position: relative;
  padding-top: 8.2rem;
  margin-top: -8.2rem;
}
#sec01slider {
  min-height: 90vh;
  overflow: hidden;
  background-color: #005EAD; /* Background color for the slider */
  position: relative;
  padding-top: 10rem;
  

}

/* Styles for sec01__con, sec01__img and other elements */
#sec01 .sec011__wrap {
  display: flex;
  position: relative;
  z-index: 0;
}
#sec01 .sec012__wrap {
  display: flex;
  position: relative;
  z-index: 0;
}
#sec01 .sec013__wrap {
  display: flex;
  position: relative;
  z-index: 0;
}

#sec01 .sec011__con {
  width: 50%;
  color: #fff;
}
#sec01 .sec012__con {
  width: 50%;
  color: #fff;
}
#sec01 .sec013__con {
  width: 50%;
  color: #fff;
}
#sec01 .sec011__con > span {
  display: block;
  margin-top: 5rem ;
  font-size: 5.2rem;
  animation: fade-in-top 1s 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  
}
#sec01 .sec012__con > span {
  display: block;
  margin-top: 5rem ;
  font-size: 5.2rem;
  animation: fade-in-top 1s 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  
}
#sec01 .sec013__con > span {
  display: block;
  margin-top: 5rem ;
  font-size: 5.2rem;
  animation: fade-in-top 1s 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  
}
#sec01 .sec011__con > h2 {
  margin: 2rem 0;
  font-size: 5rem;
  animation: fade-in-top  0.6s 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.3461538462;
}
#sec01 .sec012__con > h2 {
  margin: 2rem 0;
  font-size: 5rem;
  animation: fade-in-top  0.6s 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.3461538462;
}
#sec01 .sec013__con > h2 {
  margin: 2rem 0;
  font-size: 5rem;
  animation: fade-in-top  0.6s 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.3461538462;
}
#sec01 .sec011__con > h3 {
  margin: 2rem 0;
  font-size: 4rem;
  animation: fade-in-top  0.8s 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.3461538462;
}
#sec01 .sec012__con > h3 {
  margin: 2rem 0;
  font-size: 4rem;
  animation: fade-in-top  0.8s 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.3461538462;
}
#sec01 .sec013__con > h3 {
  margin: 2rem 0;
  font-size: 4rem;
  animation: fade-in-top  0.8s 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.3461538462;
}
#sec01 .sec011__con > h2 > span {
  color: #0082AA;
}
#sec01 .sec012__con > h2 > span {
  color: #0082AA;
}
#sec01 .sec013__con > h2 > span {
  color: #0082AA;
}
#sec01 .sec011__con > p {
  font-size: 1.6rem;
  animation: fade-in-top 0.8s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.5;
}
#sec01 .sec012__con > p {
  font-size: 1.6rem;
  animation: fade-in-top 0.8s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.5;
}

#sec01 .sec013__con > p {
  font-size: 1.6rem;
  animation: fade-in-top 0.8s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  line-height: 1.5;
}


#sec01 .sec011__img {

  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  animation: text-focus-in 1.2s 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* Your original styles for .sec01__img */
}
#sec01 .sec012__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  animation: text-focus-in 1.2s 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* Your original styles for .sec01__img */
}
#sec01 .sec013__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 100%;
  animation: text-focus-in 1.2s 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* Your original styles for .sec01__img */
}

#sec01 .sec011__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#sec01 .sec012__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#sec01 .sec013__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#sec011 .app__link1 {
  animation: text-focus-in 1.2s 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#sec012 .app__link2 {
  animation: text-focus-in 1.2s 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#sec013 .app__link3 {
  animation: text-focus-in 1.2s 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.app__link1 {
  display: inline-flex;
  align-items: center;
  min-width: 9rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid #e2eff3;
  border-radius: 50rem;
  color: #d4ecf4;
  letter-spacing: 0;
  transition: 0.24s;
}
.app__link1:last-child {
  margin-right: 0;
}
.app__link1:hover {
  background-color: #e8f5f9;
  color: #222;
}
.app__link2 {
  display: inline-flex;
  align-items: center;
  min-width: 9rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid #e9f7fb;
  border-radius: 50rem;
  color: #fff;
  letter-spacing: 0;
  transition: 0.24s;
}
.app__link2:last-child {
  margin-right: 0;
}
.app__link2:hover {
  background-color: #e9f7fb;
  color: #222;
}
.app__link3 {
  display: inline-flex;
  align-items: center;
  min-width: 9rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 1px solid #e9f7fb;
  border-radius: 50rem;
  color: #e9f7fb;
  letter-spacing: 0;
  transition: 0.24s;
}
.app__link3:last-child {
  margin-right: 0;
}
.app__link3:hover {
  background-color: #e9f7fb;
  color: #090a0a;
}
.app__link-wrap1 {
  display: flex;
  margin-top: 7rem;
  margin-left: 35rem;
}
.app__link-wrap2 {
  display: flex;
  margin-top: 7rem;
  margin-left: 35rem;
}
.app__link-wrap3 {
  display: flex;
  margin-top: 7rem;
  margin-left: 35rem;
}
.app__link1 > p {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.app__link1 > p > strong {
  font-size: 1.6rem;
  line-height: 1.25;
}
.app__link2 > p {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.app__link2 > p > strong {
  font-size: 1.6rem;
  line-height: 1.25;
}
.app__link3 > p {
  margin-left: 1.2rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.app__link3 > p > strong {
  font-size: 1.6rem;
  line-height: 1.25;
}


/* Keyframes and other global styles */
@keyframes fade-in-top {
  0% {
      transform: translateY(-6rem);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
      opacity: 0;
      -webkit-filter: blur(12px);
      filter: blur(12px);
  }
  100% {
      opacity: 1;
      -webkit-filter: blur(0px);
      filter: blur(0px);
  }
}

/* Responsive adjustments */
@media (max-width: 880px) {
  #sec01 {
    min-height: 70vh;
  }
  #sec01 .sec01__img {
    right: -3.6rem;
    width: 48rem;
  }
}
@media (max-width: 768px) {
  #sec01 {
    min-height: 70vh;
    padding: 10rem 0 8rem;
    text-align: center;
  }
  #sec01 .layout {
    padding-top: 0;
  }
  #sec01 .sec011__wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  #sec01 .sec012__wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  #sec01 .sec013__wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  #sec01 .sec011__img {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 50rem;
    animation: none;
  }
  #sec01 .sec012__img {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 50rem;
    animation: none;
  }
  #sec01 .sec013__img {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 50rem;
    animation: none;
  }
  #sec01 .sec011__con {
    margin-top: -4rem;
  }
  #sec01 .sec012__con {
    margin-top: -4rem;
  }
  #sec01 .sec013__con {
    margin-top: -4rem;
  }
  .app__link-wrap {
    justify-content: center;
    text-align: left;
  }
}
@media (max-width: 420px) {
  #sec01 .sec011__img {
    height: 40rem;
  }
  #sec01 .sec011__con {
    margin-top: -2.4rem;
  }
  #sec01 .sec011__con > h2 {
    font-size: 4.8rem;
  }
  #sec01 .sec011__con > h3 {
    font-size: 3.8rem;
  }
  #sec01 .sec011__con > p br {
    display: none;
  }
  #sec01 .sec012__img {
    height: 40rem;
  }
  #sec01 .sec012__con {
    margin-top: -2.4rem;
  }
  #sec01 .sec012__con > h2 {
    font-size: 4.8rem;
  }
  #sec01 .sec012__con > h3 {
    font-size: 3.8rem;
  }
  #sec01 .sec012__con > p br {
    display: none;
  }
  #sec01 .sec013__img {
    height: 40rem;
  }
  #sec01 .sec013__con {
    margin-top: -2.4rem;
  }
  #sec01 .sec013__con > h2 {
    font-size: 4.8rem;
  }
  #sec01 .sec013__con > h3 {
    font-size: 3.8rem;
  }
  #sec01 .sec013__con > p br {
    display: none;
  }
  .app__link {
    display: flex;
    width: 22rem;
    margin: 0 auto 1rem;
  }
  .app__link:last-child {
    margin-right: auto;
  }
  .app__link-wrap {
    display: block;
  }
}

#sec02 {
  min-height: 80vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Background color for the slider */
  position: relative;
  padding: 6rem 0 6rem;
  text-align: center;
}
#sec02 .con__title {
  margin-bottom: 3.2rem;
}
#sec02 .annotation {
  justify-content: center;
}
#sec02 .sec02__text {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.5555555556;
}
#sec02 .sec02__con {
  display: flex;
  margin: 18rem 0 4rem;
}
#sec02 .sec02__item {
  width: calc(33.3333333333% - 4.7rem);
  margin-right: 7rem;
}
#sec02 .sec02__item:last-child {
  margin-right: 0;
}
#sec02 .sec02__item-img {
  margin: 0 auto;
  width: 19.6rem;
}
#sec02 .sec02__item-text {
  margin-top: 2.4rem;
}
#sec02 .sec02__item h4 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #222;
  line-height: 1.2727272727;
}
#sec02 .sec02__item p {
  font-size: 1.5rem;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 1024px) {
  #sec02 .sec02__item {
    width: calc(33.3333333333% - 3.4rem);
    margin-right: 5rem;
  }
}
@media (max-width: 768px) {
  #sec02 {
    padding: 8rem 0;
  }
  #sec02 .sec02__con {
    display: block;
  }
  #sec02 .sec02__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2.4rem;
    margin-right: 0;
    text-align: left;
  }
  #sec02 .sec02__item-img {
    flex-shrink: 0;
    width: 20rem;
  }
  #sec02 .sec02__item-text {
    margin-top: 0;
    margin-left: 2.4rem;
  }
}
@media (max-width: 480px) {
  #sec02 .sec02__item {
    display: block;
    margin-bottom: 4rem;
    text-align: center;
  }
  #sec02 .sec02__item-img {
    margin: 0 auto 2rem;
  }
}
#sec03 {
  min-height: 60rem; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Background color for the slider */
  position: relative;
}
#sec03 .layout {
  display: flex;
  align-items: center;
}

#sec03 .con__img::after {
  content: '';
  position: absolute;
  height: 100%; /* Adjust as needed */
  width: 2px; /* Width of the line */
  right: 10px; /* Adjust line position to the left of the image */
  top: 50%;
  transform: translateY(-50%);
  background-color: #005EAD; /* Color of the line */
}


#sec05 {
  min-height: 80vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Background color for the slider */
  position: relative;
}
#sec05slider {
  min-height: 75vh;
  overflow: hidden; /* Background color for the slider */
  position: relative;

  

}
#sec05slider .carousel-indicators button {
  background-color: #0082AA; /* Change to your desired color */
}

#sec05slider .carousel-indicators .active {
  background-color: #005EAD; /* Change to your desired active color */
}
#sec05slider .carousel-control-prev-icon,
#sec05slider .carousel-control-next-icon {
  filter: invert(45%) sepia(95%) saturate(1352%) hue-rotate(202deg) brightness(90%) contrast(101%);
}

#sec07 {
  padding: 5rem 0;
  background-color: #c7e7f1;
}
#sec07 .layout {
  display: flex;
}
#sec07 .layout > div {
  width: 50%;
}
#sec07 .con__text {
  position: relative;
}
#sec07 .con__text::before {
  position: absolute;
  bottom: 2rem;
  right: 16rem;
  z-index: -1;
  width: 16.8rem;
  height: 11.8rem;
  background: url(../images/main/bg_obj03.png) no-repeat center/contain;
  content: "";
}
#sec07 .con__title {
  margin-bottom: 0;
  font-size: 4.8rem;
  line-height: 1.25;
}
#sec07 .con__title--sm {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
#sec07 .con__title > span {
  color: #005EAD;
}
#sec07 .con__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sec07 .con__form-item {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}
#sec07 .con__form-item--half {
  width: calc(50% - 1.5rem);
}
#sec07 .con__form-item.last {
  margin-bottom: 2.8rem;
}
#sec07 .con__form-item input,
#sec07 .con__form-item textarea {
  width: 100%;
  padding: 1.4rem 0;
  border-bottom: 1px solid #b8cdd3;
  -webkit-border-radius: 0;
  background-color: transparent;
  font-size: 1.8rem;
  transition: 0.24s;
  outline: none;
  -webkit-appearance: none;
}
#sec07 .con__form-item input:focus,
#sec07 .con__form-item textarea:focus {
  border-bottom: 1px solid #005EAD;
}
#sec07 .con__form-item input::placeholder,
#sec07 .con__form-item textarea::placeholder {
  color: #cbeaf3;
}
#sec07 .con__form-item textarea {
  width: 100%;
  height: 12rem;
  padding: 0 0 0.6rem;
  margin-top: 1.2rem;
  border-bottom: none;
  resize: none;
  scrollbar-color: #91def4 #c9eaf3;
  scrollbar-width: thin;
  line-height: 1.4444444444;
}
#sec07 .con__form-item textarea:focus {
  border-bottom: none;
}
#sec07 .con__form-item textarea:focus + .textarea-line {
  background-color: #0082AA;
}
#sec07 .con__form-item textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #e9f7fb;
}
#sec07 .con__form-item textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #e9f7fb;
}
#sec07 .con__form-item .textarea-line {
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e9f7fb;
  transition: 0.24s;
  content: "";
}
#sec07 .con__form-item-label {
  font-size: 1.3rem;
  font-weight: 700;
  color: #222;
  line-height: 1.6rem;
}
#sec07 .con__form-item.incorrect {
  margin-bottom: 4.6rem;
}
#sec07 .con__form-item.incorrect::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 1.3rem;
  color: #c61025;
  letter-spacing: -0.05em;
  line-height: 2.6rem;
  content: "필수항목입니다.";
}
#sec07 .con__form-item.incorrect::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  font-size: 1.3rem;
  color: #c61025;
  letter-spacing: -0.05em;
  line-height: 2.6rem;
  content: "필수항목입니다.";
}
#sec07 .con__form-item.incorrect.last::before {
  bottom: -0.6rem;
}
#sec07 .con__form-item.incorrect input,
#sec07 .con__form-item.incorrect .select-label {
  border-bottom: 1px solid #c61025;
}
#sec07 .con__form-item.incorrect .textarea-line {
  background-color: #c61025;
}
#sec07 .con__form-submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec07 .contact__btn {
  display: flex;
  align-items: center;
  width: 40rem;
  padding: 1.7rem 3.2rem;
  margin-bottom: 1.6rem;
  border: 1px solid #a9c3ca;
  border-radius: 50rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #070a0b;
  line-height: 1.2222222222;
}
#sec07 .contact__btn:last-child {
  margin-bottom: 0;
}
#sec07 .contact__btn-wrap {
  margin-top: 4rem;
}
#sec07 .contact__btn--mail {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
#sec07 .contact__icon {
  margin-right: 1.8rem;
}

.check-style input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: auto;
  height: auto;
}
.check-style input[type=checkbox] + label {
  position: relative;
  padding-left: 3.2rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.check-style input[type=checkbox] + label > a {
  text-decoration: underline;
  text-underline-position: under;
}
.check-style input[type=checkbox] + label::after {
  position: absolute;
  top: 1px;
  left: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #bebfc0;
  border-radius: 0.4rem;
  background-color: #e9f7fb;
  transition: 0.24s;
  content: "";
}
.check-style input[type=checkbox] + label::before {
  position: absolute;
  top: 1px;
  left: 0;
  z-index: 1;
  width: 2.4rem;
  height: 2.4rem;
  font-family: "xeicon";
  font-size: 1.6rem;
  color: #e9f7fb;
  line-height: 2.4rem;
  text-align: center;
  content: "\e928";
}
.check-style input[type=checkbox]:checked + label::after {
  border: 1px solid #005EAD;
  background-color: #005EAD;
}
.check-style input[type=checkbox]:focus + label::after {
  border: 1px solid #005EAD;
}

.select-style {
  display: block;
  position: relative;
  z-index: 1;
  font-size: 1.8rem;
}
.select-style::before {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
  z-index: 1;
  font-family: "xeicon";
  color: #e9f7fb;
  pointer-events: none;
  transition: 0.24s;
  content: "\e941";
}
.select-style.active::before {
  transform: translateY(-50%) rotate(180deg);
}
.select-style.active .select-label {
  border-bottom: 1px solid #005EAD;
}
.select-style.active .option-list {
  opacity: 1;
  visibility: visible;
}
.select-style .select-label {
  width: 100%;
  overflow: hidden;
  padding: 1.4rem 0;
  padding-right: 4rem;
  border-bottom: 1px solid #e9f7fb;
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.8rem;
  color: #e9f7fb;
  text-align: left;
  transition: 0.24s;
}
.select-style .select-label.selected {
  color: #2f2f2f;
}
.select-style .option-list {
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  padding: 0.2rem;
  background-color: #e9f7fb;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
  line-height: 2.2rem;
  transition: opacity 0.24s;
}
.select-style .option-item {
  padding: 1.1rem;
  color: #565758;
  cursor: pointer;
  transition: 0.24s;
}
.select-style .option-item:hover {
  background-color: #e9f7fb;
}

@media (max-width: 860px) {
  #sec07 {
    padding: 8rem 0;
  }
  #sec07 .layout {
    display: block;
  }
  #sec07 .layout > div {
    width: 100%;
  }
  #sec07 .con__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4rem;
  }
  #sec07 .con__text::before {
    top: -4rem;
    bottom: auto;
    left: 38rem;
    right: auto;
  }
  #sec07 .contact__btn-wrap {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  #sec07 .con__text::before {
    display: none;
  }
}
@media (max-width: 620px) {
  #sec07 .con__text {
    display: block;
  }
  #sec07 .contact__btn-wrap {
    margin-top: 2.4rem;
  }
}
@media (max-width: 420px) {
  #sec07 .con__form-item--half {
    width: 100%;
  }
  #sec07 .con__form-submit {
    display: block;
    margin-top: 1.4rem;
    text-align: center;
  }
  #sec07 .con__form-submit .btn-style {
    margin-top: 4rem;
  }
}
.popup__wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__box {
  display: flex;
  flex-direction: column;
  max-width: 99rem;
  width: calc(100% - 6rem);
  max-height: 68rem;
  height: calc(100% - 6rem);
  border-radius: 2rem;
  background-color: #e9f7fb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  min-height: 8.4rem;
  padding: 2.4rem 4rem;
  border-bottom: 1px solid #e9f7fb;
}
.popup__title > h2 {
  font-size: 2.4rem;
  letter-spacing: -0.46px;
  line-height: 1.4;
}
.popup__close {
  height: 2.6rem;
  margin-left: 2.4rem;
  font-size: 2.6rem;
  color: #555;
}
.popup__con {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
  padding: 3rem 4rem 4rem;
  text-align: center;
}
.popup__con-text {
  overflow: auto;
  padding-right: 2rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  letter-spacing: -0.6px;
  text-align: left;
  line-height: 1.375;
}
.popup__con-text h3 {
  margin: 4.8rem 0 1.6rem;
  font-size: 2rem;
  letter-spacing: -1px;
}
.popup__con-text h4 {
  margin: 4.8rem 0 0.8rem;
  font-size: 1.6rem;
}
.popup__con-text li:last-of-type {
  margin-bottom: 0 !important;
}
.popup__con-text > p + .dot-list {
  margin-top: 2.4rem;
}
.popup__con-text .dot-list + p {
  margin: 3.2rem 0;
}
.popup__con-text .dot-list > li {
  position: relative;
  padding-left: 0.8rem;
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
  color: #343535;
  letter-spacing: -0.6px;
  line-height: 1.5;
}
.popup__con-text .dot-list > li::before {
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #383939;
  content: "";
}
.popup__con-text .abc-list > li {
  margin-bottom: 3.2rem;
}
.popup__con-text .abc-list .dash-list {
  padding-left: 2.4rem;
  margin-top: 1rem;
}
.popup__con-text .abc-list .dash-list > li {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.popup__con-text .abc-list .dash-list > li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "-";
}

@media (max-width: 480px) {
  .popup__title {
    padding: 2.4rem 3rem;
  }
  .popup__con {
    padding: 3rem 3rem 4rem;
  }
}
@media (max-width: 360px) {
  .popup__box {
    width: calc(100% - 4rem);
  }
}
.submit-popup__wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #323333;
}
.submit-popup__box {
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  width: calc(100% - 6rem);
  overflow: hidden;
  border-radius: 1.8rem;
  background-color: #e9f7fb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.submit-popup__close {
  position: absolute;
  top: 1.6rem;
  right: 1.8rem;
  height: 2.2rem;
  font-size: 2.2rem;
  color: #36ccf6;
}
.submit-popup__con {
  padding: 4rem;
  text-align: center;
}
.submit-popup__icon {
  margin-bottom: 1.8rem;
}
.submit-popup__title {
  font-size: 2rem;
  color: #354145;
  line-height: 1.5;
}
.submit-popup__text {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  color: #555;
  line-height: 1.5;
}
.submit-popup__btn {
  width: 100%;
  padding: 1.4rem;
  background-color: #005EAD;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}
.submit-popup__btn-wrap {
  display: flex;
}
.submit-popup__btn--cancel {
  background-color: #787b7c;
}

@media (max-width: 360px) {
  .submit-popup__con {
    padding: 4rem 2.4rem;
  }
  .submit-popup__text br {
    display: none;
  }
}
#sec08 {
  padding: 6rem 0;
  background-color: #005EAD;
  text-align: center;
}
#sec08 .layout {
  z-index: 0;
}
#sec08 .layout::before {
  position: absolute;
  top: -6rem;
  left: -18rem;
  z-index: -1;
  width: 59.2rem;
  height: 14.2rem;
  background: url(../images/main/bg_obj04.png) no-repeat center top/contain;
  content: "";
}
#sec08 .layout::after {
  position: absolute;
  bottom: -6rem;
  right: 0;
  z-index: -1;
  width: 25.8rem;
  height: 16.2rem;
  background: url(../images/main/bg_obj05.png) no-repeat center top/contain;
  content: "";
}
#sec08 .sec08__text {
  font-size: 3.6rem;
  color: #e9f7fb;
  line-height: 1.2222222222;
}
#sec08 .sec08__text > span {
  color: #5dd4f5;
}
#sec08 .app__link {
  min-width: 24rem;
  text-align: left;
}
#sec08 .app__link-wrap {
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 420px) {
  #sec08 {
    padding: 4.6rem 0;
  }
}
#wrap.error {
  position: relative;
  width: 100%;
  height: 100vh;
}
#wrap.error .error__con {
  width: 100%;
  padding: 4rem 2.4rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrap.error .error__con h1 {
  margin: 4rem 0 3rem;
  font-size: 3.2rem;
  color: #666767;
  line-height: 1.1875;
}
#wrap.error .error__con p {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  line-height: 1.5555555556;
}
#wrap.error .error__con .btn-style {
  min-width: 20rem;
  padding: 2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
}
